<!-- views/home.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
    <%- include('./partials/html-head') %>
    <%- include('./partials/nav') %>
      <h1>We are rendering a page!</h1>
      <p><%= msg %></p>
      <ul>
        <% inventory.forEach((item, index)=>{ %>
          <a href="/<%= index %>">
            <li>
              <%= item.name %>: <%= item.qty %>
            </li>
          </a>
        <% }) %>
      </ul>
    </body>
    </html>
    